/* common */
.w_0_1 {
    width: 100%;
}
.w_1_1 {
    width: calc(80% - 5px);
}
.w_2_1 {
    width: calc(75% - 5px);
}
.w_3_1 {
    width: calc(66.6% - 5px);
}
.w_4_1 {
    width: calc(60% - 5px);
}
.w_5_1 {
    width: calc(50% - 5px);
}
.w_6_1 {
    width: calc(40% - 5px);
}
.w_7_1 {
    width: calc(33.3% - 5px);
}
.w_8_1 {
    width: calc(25% - 5px);
}
.w_9_1 {
    width: calc(20% - 5px);
}

.mgT0 {
    margin-top: 0px;
}
.mgT5 {
    margin-top: 5px;
}
.mgT10 {
    margin-top: 10px;
}
.mgT20 {
    margin-top: 20px;
}
.mgT30 {
    margin-top: 30px;
}
.mgT40 {
    margin-top: 40px;
}
.mgT50 {
    margin-top: 50px;
}
.mgT60 {
    margin-top: 60px;
}
.mgT80 {
    margin-top: 80px;
}
.mgT100 {
    margin-top: 100px;
}

.mgR0 {
    margin-right: 0px;
}
.mgR5 {
    margin-right: 5px;
}
.mgR10 {
    margin-right: 10px;
}
.mgR15 {
    margin-right: 15px;
}
.mgR20 {
    margin-right: 20px;
}
.mgR30 {
    margin-right: 30px;
}
.mgR40 {
    margin-right: 40px;
}
.mgR50 {
    margin-right: 50px;
}
.mgR60 {
    margin-right: 60px;
}
.mgR80 {
    margin-right: 80px;
}
.mgR100 {
    margin-right: 100px;
}

.mgB0 {
    margin-bottom: 0px;
}
.mgB5 {
    margin-bottom: 5px;
}
.mgB10 {
    margin-bottom: 10px;
}
.mgB20 {
    margin-bottom: 20px;
}
.mgB30 {
    margin-bottom: 30px;
}
.mgB40 {
    margin-bottom: 40px;
}
.mgB50 {
    margin-bottom: 50px;
}
.mgB80 {
    margin-bottom: 80px;
}
.mgB100 {
    margin-bottom: 100px;
}

.mgL0 {
    margin-left: 0px;
}
.mgL5 {
    margin-left: 5px;
}
.mgL10 {
    margin-left: 10px;
}
.mgL15 {
    margin-left: 15px;
}
.mgL20 {
    margin-left: 20px;
}
.mgL30 {
    margin-left: 30px;
}
.mgL40 {
    margin-left: 40px;
}
.mgL50 {
    margin-left: 50px;
}
.mgL55 {
    margin-left: 55px;
}
.mgL60 {
    margin-left: 60px;
}
.mgL80 {
    margin-left: 80px;
}
.mgL100 {
    margin-left: 100px;
}

.pdT0 {
    padding-top: 0px;
}

.pdT5 {
    padding-top: 5px;
}
.pdT10 {
    padding-top: 10px;
}
.pdT15 {
    padding-top: 15px;
}
.pdT20 {
    padding-top: 20px;
}
.pdT30 {
    padding-top: 30px;
}
.pdT40 {
    padding-top: 40px;
}
.pdT50 {
    padding-top: 50px;
}
.pdT80 {
    padding-top: 80px;
}
.pdT100 {
    padding-top: 100px;
}

.pdR0 {
    padding-right: 0px;
}
.pdR5 {
    padding-right: 5px;
}
.pdR10 {
    padding-right: 10px;
}
.pdR20 {
    padding-right: 20px;
}
.pdR30 {
    padding-right: 30px;
}
.pdR40 {
    padding-right: 40px;
}
.pdR50 {
    padding-right: 50px;
}
.pdR80 {
    padding-right: 80px;
}
.pdR100 {
    padding-right: 100px;
}

.pdB0 {
    padding-bottom: 0px;
}
.pdB10 {
    padding-bottom: 10px;
}

.pdB20 {
    padding-bottom: 20px;
}
.pdB30 {
    padding-bottom: 30px;
}
.pdB40 {
    padding-bottom: 40px;
}
.pdB50 {
    padding-bottom: 50px;
}
.pdB80 {
    padding-bottom: 80px;
}
.pdB100 {
    padding-bottom: 100px;
}

.pdL0 {
    padding-left: 0px;
}
.pdL5 {
    padding-left: 5px;
}
.pdL10 {
    padding-left: 10px;
}
.pdL20 {
    padding-left: 20px;
}
.pdL30 {
    padding-left: 30px;
}
.pdL40 {
    padding-left: 40px;
}
.pdL50 {
    padding-left: 50px;
}
.pdL80 {
    padding-left: 80px;
}
.pdL100 {
    padding-left: 100px;
}
.pdL200 {
    padding-left: 200px;
}

.verticalTop {
    vertical-align: top;
}
.txtRight {
    text-align: right !important;
}
.txtLift {
    text-align: left !important;
}
.txtCenter {
    text-align: center;
}

.block {
    display: block !important;
}
.inline {
    display: inline-block !important;
}
.flex {
    display: flex !important;
}

/* width */
.wAuto {
    width: auto !important;
}
.w1p {
    width: 1%;
}
.w2p {
    width: 2%;
}
.w3p {
    width: 3%;
}
.w4p {
    width: 4%;
}
.w5p {
    width: 5%;
}
.w6p {
    width: 6%;
}
.w7p {
    width: 7%;
}
.w8p {
    width: 8%;
}
.w9p {
    width: 9%;
}
.w10p {
    width: 10%;
}
.w11p {
    width: 11%;
}
.w12p {
    width: 12%;
}
.w13p {
    width: 13%;
}
.w14p {
    width: 14%;
}
.w15p {
    width: 15%;
}
.w16p {
    width: 16%;
}
.w17p {
    width: 17%;
}
.w18p {
    width: 18%;
}
.w19p {
    width: 19%;
}
.w20p {
    width: 20%;
}
.w21p {
    width: 21%;
}
.w22p {
    width: 22%;
}
.w23p {
    width: 23%;
}
.w24p {
    width: 24%;
}
.w25p {
    width: 25%;
}
.w26p {
    width: 26%;
}
.w27p {
    width: 27%;
}
.w28p {
    width: 28%;
}
.w29p {
    width: 29%;
}
.w30p {
    width: 30%;
}
.w31p {
    width: 31%;
}
.w32p {
    width: 32%;
}
.w33p {
    width: 33%;
}
.w34p {
    width: 34%;
}
.w35p {
    width: 35%;
}
.w36p {
    width: 36%;
}
.w37p {
    width: 37%;
}
.w38p {
    width: 38%;
}
.w39p {
    width: 39%;
}
.w40p {
    width: 40%;
}
.w41p {
    width: 41%;
}
.w42p {
    width: 42%;
}
.w43p {
    width: 43%;
}
.w44p {
    width: 44%;
}
.w45p {
    width: 45%;
}
.w46p {
    width: 46%;
}
.w47p {
    width: 47%;
}
.w48p {
    width: 48%;
}
.w49p {
    width: 49%;
}
.w50p {
    width: 50%;
}
.w51p {
    width: 51%;
}
.w52p {
    width: 52%;
}
.w53p {
    width: 53%;
}
.w54p {
    width: 54%;
}
.w55p {
    width: 55%;
}
.w56p {
    width: 56%;
}
.w57p {
    width: 57%;
}
.w58p {
    width: 58%;
}
.w59p {
    width: 59%;
}
.w60p {
    width: 60%;
}
.w61p {
    width: 61%;
}
.w62p {
    width: 62%;
}
.w63p {
    width: 63%;
}
.w64p {
    width: 64%;
}
.w65p {
    width: 65%;
}
.w66p {
    width: 66%;
}
.w67p {
    width: 67%;
}
.w68p {
    width: 68%;
}
.w69p {
    width: 69%;
}
.w70p {
    width: 70%;
}
.w71p {
    width: 71%;
}
.w72p {
    width: 72%;
}
.w73p {
    width: 73%;
}
.w74p {
    width: 74%;
}
.w75p {
    width: 75%;
}
.w76p {
    width: 76%;
}
.w77p {
    width: 77%;
}
.w78p {
    width: 78%;
}
.w79p {
    width: 79%;
}
.w80p {
    width: 80%;
}
.w81p {
    width: 81%;
}
.w82p {
    width: 82%;
}
.w83p {
    width: 83%;
}
.w84p {
    width: 84%;
}
.w85p {
    width: 85%;
}
.w86p {
    width: 86%;
}
.w87p {
    width: 87%;
}
.w88p {
    width: 88%;
}
.w89p {
    width: 89%;
}
.w90p {
    width: 90%;
}
.w91p {
    width: 91%;
}
.w92p {
    width: 92%;
}
.w93p {
    width: 93%;
}
.w94p {
    width: 94%;
}
.w95p {
    width: 95%;
}
.w96p {
    width: 96%;
}
.w97p {
    width: 97%;
}
.w98p {
    width: 98%;
}
.w99p {
    width: 99%;
}
.w100p {
    width: 100%;
}

:root {
    --color-primary: #1f2937;
    --color-point: #106ab7;
    --color-light: #ffffff;

    --color-blue-1: #6ca4d4;
    --color-blue-2: #0c518d;
    --color-blue-3: #08365e;

    --color-orange-1: #ffbe99;
    --color-orange-2: #ff9050;
    --color-orange-3: #ff7866;

    --color-gray-1: #000;
    --color-gray-2: #374151;
    --color-gray-3: #4b5563;
    --color-gray-4: #6b7280;
    --color-gray-5: #9ca3af;
    --color-gray-6: #d1d5db;
    --color-gray-7: #f3f4f6;

    --font-family: 'Ubuntu';

    --font-size-h1: 80px;
    --font-size-h3: 48px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-sl: 18px;
    --font-size-md: 24px;
    --font-size-lg: 36px;
}

/* button */
.btn {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 50%;
}

/* icon */
.icon {
    background-image: url(../img/common/UI_icon.png);
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    vertical-align: top;
    background-size: 1150px;
}
.ico_menu {
    background-position: -4px -6px;
}
.ico_data {
    background-position: -6px -106px;
}
.ico_treatment {
    background-position: -100px -104px;
}
.ico_care {
    background-position: -194px -108px;
}
.ico_diagnosis {
    background-position: -288px -106px;
}
.ico_cardiology {
    background-position: -156px -438px;
}

.ico_logo {
    background-image: url(../img/common/logo.png);
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 8px;
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    vertical-align: top;
    background-size: 68px;
    background-position: 0px 22px;
}

/* text */
.main_txt {
    text-align: center;
}
.main_txt h3 {
    font-size: var(--font-size-h3);
    font-weight: 700;
}
.main_txt h3 .tm_text {
    margin-right: 3%;
    font-style: italic;
}

.main_txt h3 .tm_text em {
    font-size: var(--font-size-md);
}

.sub_txt {
    text-align: center;
    margin-top: 30px;
}
.sub_txt p {
    font-size: var(--font-size-sl);
    line-height: 24px;
}

.tm_text {
    margin-right: 3%;
    display: inline-block;
    position: relative;
    font-style: italic;
}
.tm_text em {
    position: absolute;
    top: 0;
    white-space: nowrap;
    font-style: italic;
}

/* type */
/* type_01 */
.type_01 {
    width: 80%;
    height: 260px;
    border: 1px solid paleturquoise;
    background-color: var(--color-light);
    color: var(--color-primary);
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
    position: relative;
}
.type_01::after {
    content: '';
    width: 85px;
    height: 4px;
    display: inline-block;
    position: absolute;
    right: -64px;
    top: 50%;
    background: #fff;
}
.type_01 .tit {
    display: flex;
    align-items: center;
}
.type_01 .tit .icon_box {
    width: 80px;
    height: 80px;
    position: relative;
}
.type_01 .tit .icon_box i {
    width: 80px;
    height: 80px;
    background-size: 3200px;
}
.type_01 .tit .icon_box .ico_data {
    background-position: -20px -438px;
}
.type_01 .tit span {
    font-size: var(--font-size-md);
    line-height: var(--font-size-lg);
    font-weight: 700;
    margin-left: 10px;
}
.type_01 .sub {
    margin-top: 10px;
}
.type_01 .sub p {
    font-size: var(--font-size-sl);
    line-height: 24px;
}
/* type_02 */
.type_02 {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
}
.type_02::after {
    content: '';
    width: 70px;
    height: 4px;
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 50%;
    background: #fff;
}
.type_02 .tit {
    background-color: var(--color-light);
    border-radius: 10px;
    width: 190px;
    padding: 10px 20px 10px 20px;
}
.type_02 .tit p {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-h3);
    color: var(--color-primary);
    font-weight: 700;
}
.type_02 .tit p em {
    font-size: var(--font-size-md);
    line-height: 100%;
}
.type_02 .sub {
    position: absolute;
    top: 80px;
    text-align: center;
}
.type_02 .sub p {
    font-size: var(--font-size-md);
    line-height: var(--font-size-lg);
    font-weight: 700;
}
.type_02 .sub span {
    font-size: var(--font-size-sl);
    line-height: var(--font-size-md);
}
/* type_03 */
.type_03 {
    width: 100%;
    margin-left: 30px;
    position: relative;
}
.type_03::after {
    content: '';
    width: 4px;
    height: calc(100% - 41px);
    display: inline-block;
    position: absolute;
    left: -30px;
    top: 22px;
    background: #fff;
}
.type_03 .box {
    padding: 10px 30px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.type_03 .box::after {
    content: '';
    width: 30px;
    height: 4px;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: 50%;
    background: #fff;
}
.type_03 .box p {
    font-size: var(--font-size-sl);
    line-height: var(--font-size-md);
    color: #000;
    font-weight: 500;
}
.type_03 .box:nth-child(n + 2) {
    border: 1px solid palegoldenrod;
    margin-top: 30px;
}
