* {
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    background-color: var(--color-primary);
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    word-break: keep-all;
    color: var(--color-light);
}

.wrap {
    max-width: 1300px;
    margin: 0 auto;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
header .wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}
header .logo {
    padding: 14px 0;
    display: inline-block;
}

/* nav */
nav {
    background-color: var(--color-light);
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0px 8px 0px 30px;
    border-radius: 50px;
    margin-top: 22px;
    position: relative;
}
nav > ul {
    display: flex;
    padding: 12px 0px;
}
nav > ul > li {
    margin-right: 48px;
}
nav ul li a {
    display: inline-block;
    font-size: var(--font-size-sl);
    line-height: 24px;
    font-weight: 500;
    color: var(--color-primary);
}
nav ul li a:hover {
    color: var(--color-point);
}
nav ul li a::after {
    content: attr(title);
    display: block;
    font-weight: 500;
    height: 0px;
    visibility: hidden;
}
nav .menu:hover .btn .ico_menu {
    background-position: -52px -6px;
    transition: opacity 1s;
    opacity: 1;
}
nav .sub_nav {
    display: none;
}
nav .sub_nav li a {
    color: var(--color-gray-6);
}
nav .sub_nav li a::after {
    content: '';
    display: block;
    clear: both;
}
nav .sub_nav li a em {
    font-size: 12px;
    line-height: 100%;
    float: right;
}
nav:hover:has(li:hover .have_sub) {
    border-radius: 20px;
    height: 100px;
    align-items: normal;
}
nav:hover ul li:hover a.have_sub + .sub_nav {
    display: flex;
    width: calc(100% - 38px);
    border-top: 1px solid var(--color-primary);
    padding-top: 10px;
    position: absolute;
    left: 30px;
    bottom: 14px;
}
nav:hover ul li:hover a.have_sub + .sub_nav li::after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    background-color: var(--color-gray-6);
    margin: 0 50px;
}
nav:hover ul li:hover a.have_sub + .sub_nav li:last-child::after {
    display: none;
}
.menu {
    padding: 7px 0;
}

/* main */
main {
}

main .slide {
}
main .slide .slide_box {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    user-select: none;
}
main .slide .slide_box .slide_item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: left 0.15s;
}
main .slide .slide_box .slide_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .slide .slide_box .slide_item .txt {
    position: absolute;
    bottom: 15%;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-light);
}
main .slide .slide_box .slide_item .txt h1 {
    font-size: var(--font-size-h1);
    font-weight: 700;
    line-height: 100%;
}
.slider_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 16px);
    width: 100%;
}
.slider_btn .wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}
.slider_btn .wrap .slide_button {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
}

.pagination_box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(15% + 30px);
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.pagination_box .slide_pagination {
    display: flex;
    gap: 30px;
    justify-content: end;
}
.slide_pagination > li {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-light);
}
.slide_pagination > li.active {
    background-color: var(--color-point);
    position: relative;
}
.slide_pagination > li.active::after {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-point);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -10px;
    top: -10px;
}

/* section */
section {
    border: 1px solid palegoldenrod;
    padding: 10% 0;
}
.section01 .wrap .sub_txt {
    margin-top: 30px;
}
.section01 .wrap .infinite_content {
    position: relative;
}
.section01 .wrap .infinite_content .infinite_wrap {
    display: flex;
    margin: 0 20%;
    margin-top: 95px;
}
.section01 .wrap .infinite_content .infinite_wrap .infinite_box {
    width: 45%;
    margin: 0 auto;
}
.section01 .wrap .infinite_content .infinite_wrap .infinite_box .infinite {
    padding-top: 100%;
    width: 100%;
    height: 100%;
    border-radius: 100% 60% 100% 100%;
    transform: rotate(45deg);
    margin: 0px;
    background: #d1d5db;
    position: relative;
    transition: background 0.5s ease-out;
}
.section01 .wrap .infinite_content .infinite_wrap .infinite_box .infinite::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100% 60% 100% 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
.section01 .wrap .infinite_content .infinite_wrap .infinite_box .infinite::after {
    content: '';
    width: 60%;
    height: 60%;
    border-radius: 100% 0% 100% 100%;
    background-color: #1f2937;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section01 .wrap .infinite_content .infinite_wrap .infinite_box:nth-child(2) .infinite {
    transform: rotate(225deg);
}
.section01 .wrap .infinite_content .infinite_wrap:hover .infinite {
    transition: all 2s;
    background: linear-gradient(var(--rotate), #106ab7, #0c518d, #ff9050, #ff7866);
    animation: spin 5.5s linear infinite;
}
.section01 .wrap .infinite_content .icon_wrap > div {
    position: absolute;
    width: 8%;
    height: 30%;
    background: #fff;
    border-radius: 50%;
}
.section01 .wrap .infinite_content .icon_wrap .data {
    top: -10px;
    left: 30%;
}
.section01 .wrap .infinite_content .icon_wrap .treatment {
    top: -10px;
    right: 30%;
}
.section01 .wrap .infinite_content .icon_wrap .care {
    bottom: -10px;
    left: 30%;
}
.section01 .wrap .infinite_content .icon_wrap .diagnosis {
    bottom: -10px;
    right: 30%;
}
.section01 .wrap .infinite_content .icon_wrap .logoCenter {
    position: absolute;
    top: 50%;
    transform: translate(-424%, -50%);
}
.section01 .wrap .infinite_content .icon_wrap div .icon_box {
    width: 100%;
    height: 100%;
}
.section01 .wrap .infinite_content .icon_wrap div .icon_box i {
    background-image: url(../img/common/UI_icon.png);
    display: inline-block;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    vertical-align: top;
    background-size: 2200px;
}
.section01 .wrap .infinite_content .icon_wrap div span {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: var(--font-size-sm);
    margin-top: 10px;
}
.section01 .wrap .infinite_content .icon_wrap .care span,
.section01 .wrap .infinite_content .icon_wrap .diagnosis span {
    position: absolute;
    top: -34px;
}
.section01 .wrap .infinite_content .infinite_wrap:hover .icon_wrap .data {
    background-color: var(--color-point);
}
.section01 .wrap .infinite_content .infinite_wrap:hover .icon_wrap .data .icon_box .ico_data {
    background-position: -6px -200px;
}
.section01 .wrap .infinite_content .infinite_wrap:hover .icon_wrap .treatment {
    background-color: var(--color-orange-2);
}
.section01 .wrap .infinite_content .infinite_wrap:hover .icon_wrap .treatment .icon_box .ico_treatment {
    background-position: -100px -200px;
}
.section01 .wrap .infinite_content .infinite_wrap:hover .icon_wrap .care {
    background-color: var(--color-orange-2);
}
.section01 .wrap .infinite_content .infinite_wrap:hover .icon_wrap .care .icon_box .ico_care {
    background-position: -194px -200px;
}
.section01 .wrap .infinite_content .infinite_wrap:hover .icon_wrap .diagnosis {
    background-color: var(--color-point);
}
.section01 .wrap .infinite_content .infinite_wrap:hover .icon_wrap .diagnosis .icon_box .ico_diagnosis {
    background-position: -288px -200px;
}

.section02 {
    border: 1px solid peru;
    background-image: url(../img/main/img_01.png);
    background-repeat: no-repeat;
    vertical-align: top;
    object-fit: cover;
    background-size: cover;
}
.section02 .wrap .imgbox_wrap {
    margin-top: 65px;
}
.section02 .wrap .imgbox_wrap .img_box {
    display: flex;
    background-color: var(--color-primary);
    border-radius: 999px;
    height: 200px;
}
.section02 .wrap .imgbox_wrap .img_box:nth-child(n + 2) {
    margin-top: 30px;
}
.section02 .wrap .imgbox_wrap .img_box:nth-child(2n) .sub_text {
    text-align: right;
    padding: 30px 40px 30px 40px;
}
.section02 .wrap .imgbox_wrap .img_box:nth-child(3) .sub_text {
    padding: 50px 40px 50px 40px;
}
.section02 .wrap .imgbox_wrap .img_box .img {
    width: 100%;
    overflow: hidden;
    border-radius: 999px;
}
.section02 .wrap .imgbox_wrap .img_box .img img {
    width: 100%;
    transform: translateY(-100px) scale(1);
}
.section02 .wrap .imgbox_wrap .img_box .sub_text {
    padding: 40px;
    width: 100%;
}
.section02 .wrap .imgbox_wrap .img_box .sub_text p {
    font-size: var(--font-size-md);
    font-weight: 500;
}
.section02 .wrap .imgbox_wrap .img_box .sub_text span {
    display: inline-block;
    font-size: var(--font-size-sl);
    margin-top: 10px;
}
.section02 .wrap .imgbox_wrap .img_box .sub_text span .tm_text {
    margin-right: 4%;
}
.section02 .wrap .imgbox_wrap .img_box .sub_text span .tm_text em {
    font-size: 12px;
}
@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}
@property --rotate {
    syntax: '<angle>';
    initial-value: 132deg;
    inherits: false;
}
